div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: aqua;
    width: 30%;
}
button{
    background-color: #fff;
    border: none;
    width: 20%;
    height: 20%;
    margin: 10px;
    border-radius: 20px;
}
button:hover{
    background-color: green;
}